<aside class="sidebar " data-sidebar>
    <div class="sidebar-info">
        <figure class="avatar-box">
            <img src="https://i.postimg.cc/JzBWVhW4/my-avatar.png" alt="avatar" width="80">
        </figure>

        <div class="info-content">
            <h1 class="name" title="Richard Hanrick">UBAKANANWA</h1>
            <p class="title">Web Developer</p>
        </div>

        <button class="info-more-btn" data-sidebar-btn>
            <span>Show Contacts</span>
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>

    <div class="sidebar-info-more">
        <div class="separator"></div>

        <ul class="contacts-list">
            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Email</p>

                    <a href="mailto:ezekieluba188@gmail.com" class="contact-link">ezekieluba188@gmail.com</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">WhatsApp</p>

                    <a href="https://wa.me/2348156398161?text=Hello%20I%20would%20like%20to%20contact%20you" class="contact-link">+234 8156 398 161</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Phone</p>

                    <a href="tel:+2349151273946" class="contact-link">+234 9151 273 946</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="calendar-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Birthday</p>

                    <time datetime="1982-06-23">October 30, 2003</time>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="location-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Location</p>

                    <address>
                        <a href="https://www.google.com/maps?q=Enugu+State+Nigeria" target="_blank">Enugu State, Nigeria</a>
                    </address>
                </div>
            </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
            <li class="social-item"><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li class="social-item"><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li class="social-item"><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
    </div>
</aside>